SGG_ENVIRONMENT=Local
SGG_POSTGRES_DSN=""
SGG_EMAIL_FROM=""
SGG_EMAIL_APP_PASSWORD=""
SGG_PORT=

SGG_MQTT_BROKER=
SGG_MQTT_PORT=
SGG_MQTT_USERNAME=
SGG_MQTT_PASSWORD=
SGG_MQTT_CLIENT_ID=

SGG_CASSANDRA_HOST=
SGG_CASSANDRA_PORT=
SGG_CASSANDRA_KEYSPACE=
SGG_CASSANDRA_USERNAME=
SGG_CASSANDRA_PASSWORD=